main{
    margin: 0;
    padding: 15px;
    background-color: rgb(255, 166, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "n n n"
    "a a s"
    "a a s"
    "f f f";
}


img{
    width: 100%;
}

body{
    margin: auto;
    width: 90%;
    max-width: 1300px;
}

#kosaram{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav ul{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    list-style-type: none;
    margin: 0;
}


nav li{
    border: 2px solid rgb(247, 247, 247);
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
}

div{
    background-color: white;
    margin: 5px;
}

nav{
    grid-area: n;
}

aside{
    grid-area: s;
    padding-left: 5px;
    background-color: white;
    text-align: right;
}


article{
    grid-area: a;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.autokegymasmellett{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    grid-area: f;
    text-align: center;
    color:bisque;
}


article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.autokepform{
    padding: 3px;
}


button{
    color: rgb(0, 0, 0);
}


.arak{
    text-align: right;
}

.kocsiarak{
    text-align: right;
}


@media only screen and (max-width: 800px) {
    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "n"
        "s"
        "a"
        "f";
    }
    article{
        grid-template-columns: 1fr;
    }
}
